# --- Java Compilation ---
# This ignores the folder where the "cooked" files go
bin/
out/
*.class

# --- IDE Settings ---
# We are NOT ignoring .vscode/ because you want to share your project setup.
# But we ignore the workspace storage that is unique to each computer.
.vscode/project
.vscode/workspaceStorage

# --- OS Junk ---
# Prevents Windows/Mac system files from being uploaded
Thumbs.db
.DS_Store

# --- Assets ---
# If you have huge backup Figma files or temporary edits, 
# you can ignore them here. (e.g., assets/*.fig)